pip==19.0.3

# Trigger installation of utils with the use of 'setup.py'.
# All requirements should be specified in 'setup.py'.
-e .

# Install hottbox from branch that contains Tensor Ensemble Learning
# TODO: Include hottbox in 'setup.py' when TEL will be release to pypi
git+git://github.com/IlyaKisil/hottbox.git@280b688345bae402224fa14ee81dd8016256e8dd